

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-518568901458527014.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-518568901458527014.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-518568901458527014.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-518568901458527014.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-518568901458527014.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-518568901458527014.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-518568901458527014.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-518568901458527014.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-518568901458527014.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-518568901458527014.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-518568901458527014.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-518568901458527014.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-518568901458527014.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-518568901458527014.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-518568901458527014.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-518568901458527014.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-518568901458527014.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-518568901458527014.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-518568901458527014.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-518568901458527014.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-518568901458527014.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-518568901458527014.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-518568901458527014.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-518568901458527014.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-518568901458527014.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-518568901458527014.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-518568901458527014.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-518568901458527014.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-518568901458527014.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-518568901458527014.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-518568901458527014.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-518568901458527014.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-518568901458527014.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-518568901458527014.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-518568901458527014.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-518568901458527014.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-518568901458527014.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-518568901458527014.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-518568901458527014.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-518568901458527014.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-518568901458527014.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-518568901458527014.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-518568901458527014.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-518568901458527014.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-518568901458527014.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-518568901458527014.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-518568901458527014.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-518568901458527014.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-518568901458527014.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-518568901458527014.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-518568901458527014.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-518568901458527014.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-518568901458527014.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-518568901458527014.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-518568901458527014.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-518568901458527014.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-518568901458527014.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-518568901458527014.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-518568901458527014.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-518568901458527014.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-518568901458527014.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-518568901458527014.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-518568901458527014.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-518568901458527014.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-518568901458527014.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-518568901458527014.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-518568901458527014 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-518568901458527014 .gp-relative{position:relative}.gps-518568901458527014 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-518568901458527014 .gp-mb-0{margin-bottom:0}.gps-518568901458527014 .gp-flex{display:flex}.gps-518568901458527014 .gp-inline-flex{display:inline-flex}.gps-518568901458527014 .gp-grid{display:grid}.gps-518568901458527014 .\!gp-hidden{display:none!important}.gps-518568901458527014 .gp-hidden{display:none}.gps-518568901458527014 .gp-max-w-full{max-width:100%}.gps-518568901458527014 .gp-flex-col{flex-direction:column}.gps-518568901458527014 .gp-items-center{align-items:center}.gps-518568901458527014 .gp-justify-center{justify-content:center}.gps-518568901458527014 .gp-gap-y-0{row-gap:0}.gps-518568901458527014 .gp-overflow-hidden{overflow:hidden}.gps-518568901458527014 .gp-leading-\[0\]{line-height:0}.gps-518568901458527014 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-518568901458527014 .gp-duration-200{transition-duration:.2s}.gps-518568901458527014 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-518568901458527014 .tablet\:\!gp-hidden{display:none!important}.gps-518568901458527014 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-518568901458527014 .mobile\:\!gp-hidden{display:none!important}.gps-518568901458527014 .mobile\:gp-hidden{display:none}}.gps-518568901458527014 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-518568901458527014 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1023px){.gps-518568901458527014 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-518568901458527014 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-518568901458527014 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-518568901458527014 .\[\&_p\]\:gp-inline p{display:inline}.gps-518568901458527014 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-518568901458527014 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gqqk6246-H"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pl:15px;--pb:0px;--pr:15px;--pl-mobile:15px;--pr-mobile:15px;--pl-tablet:15px;--pr-tablet:15px;--cg:62px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gqqk6246-H gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gccg53qjDv gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gNx66aUX5j"
        style="--b:solid;--bc:#ececec;--bw:1px 1px 1px 1px;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--mb-mobile:var(--g-s-2xl);--cg:var(--g-s-2xl);--cg-mobile:auto;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 7fr) minmax(0, 5fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gNx66aUX5j gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g_Sus_0ten gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gb1AAoP79X"
        style="--b:solid;--bc:#322B85;--bw:1px 1px 1px 1px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pos:relative;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--z:2;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F6F6F6;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gb1AAoP79X gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gaKH0W_Yi9 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gEAz9vBnyQ "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt-mobile:var(--g-s-xl);--pb-mobile:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-heading, heading);--weight:700;--ls:normal;--size:37px;--size-tablet:37px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggEAz9vBnyQ_text }}</h2>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="gfxbbJ6Roy"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt-mobile:var(--g-s-l);--pb-mobile:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gfxbbJ6Roy gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gaiiQ6EEf_ gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gpQy-V1vPd "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb-mobile:var(--g-s-xl);--pt-mobile:0px;--pb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:1;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggpQy-V1vPd_text }}</div>
      </div>
    </div><div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
      class="gp-leading-[0] gNJSwUDBI4"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#52C41A;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M512 256A256 256 0 1 1 0 256a256 256 0 0 1 512 0zm-127.04 -96.96a24 24 0 0 0 -34.56 0.704L239.264 301.344 172.288 234.336a24 24 0 0 0 -33.92 33.92L223.04 352.96a24 24 0 0 0 34.528 -0.64l127.744 -159.68a24 24 0 0 0 -0.32 -33.6z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gSYw8qEKJo"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt-mobile:var(--g-s-l);--pb-mobile:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gSYw8qEKJo gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g_-6q-dKfx gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g8jZLldBhe "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb-mobile:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:1;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg8jZLldBhe_text }}</div>
      </div>
    </div><div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
      class="gp-leading-[0] gQ5Ql_z3Q7"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#52C41A;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M512 256A256 256 0 1 1 0 256a256 256 0 0 1 512 0zm-127.04 -96.96a24 24 0 0 0 -34.56 0.704L239.264 301.344 172.288 234.336a24 24 0 0 0 -33.92 33.92L223.04 352.96a24 24 0 0 0 34.528 -0.64l127.744 -159.68a24 24 0 0 0 -0.32 -33.6z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gQzR9bfLUv"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt-mobile:var(--g-s-l);--pb-mobile:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gQzR9bfLUv gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gnFp2a-4Jd gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gZyqiODHh5 "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb-mobile:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:1;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggZyqiODHh5_text }}</div>
      </div>
    </div><div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
      class="gp-leading-[0] gNqOTX-4x-"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#52C41A;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M512 256A256 256 0 1 1 0 256a256 256 0 0 1 512 0zm-127.04 -96.96a24 24 0 0 0 -34.56 0.704L239.264 301.344 172.288 234.336a24 24 0 0 0 -33.92 33.92L223.04 352.96a24 24 0 0 0 34.528 -0.64l127.744 -159.68a24 24 0 0 0 -0.32 -33.6z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gGb9Sskw0D"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt-mobile:var(--g-s-l);--pb-mobile:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gGb9Sskw0D gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gVF-dzFRpP gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gpTJ4KwN0F "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb-mobile:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:1;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggpTJ4KwN0F_text }}</div>
      </div>
    </div><div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
      class="gp-leading-[0] glZyXuF5OQ"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#52C41A;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M512 256A256 256 0 1 1 0 256a256 256 0 0 1 512 0zm-127.04 -96.96a24 24 0 0 0 -34.56 0.704L239.264 301.344 172.288 234.336a24 24 0 0 0 -33.92 33.92L223.04 352.96a24 24 0 0 0 34.528 -0.64l127.744 -159.68a24 24 0 0 0 -0.32 -33.6z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gr5wi2CYYJ"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt-mobile:var(--g-s-l);--pb-mobile:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gr5wi2CYYJ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gJSNswcDLi gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g_qQr-_f4N "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb-mobile:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:1;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg_qQr-_f4N_text }}</div>
      </div>
    </div><div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
      class="gp-leading-[0] gOjUbuSg3k"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#52C41A;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M512 256A256 256 0 1 1 0 256a256 256 0 0 1 512 0zm-127.04 -96.96a24 24 0 0 0 -34.56 0.704L239.264 301.344 172.288 234.336a24 24 0 0 0 -33.92 33.92L223.04 352.96a24 24 0 0 0 34.528 -0.64l127.744 -159.68a24 24 0 0 0 -0.32 -33.6z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="g9CNxZLf0q"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt-mobile:var(--g-s-l);--pb-mobile:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g9CNxZLf0q gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="goqIJi-otk gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="ggfcYOjuKU "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb-mobile:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:1;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.gggfcYOjuKU_text }}</div>
      </div>
    </div><div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
      class="gp-leading-[0] gMjHSxOP7m"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#52C41A;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M512 256A256 256 0 1 1 0 256a256 256 0 0 1 512 0zm-127.04 -96.96a24 24 0 0 0 -34.56 0.704L239.264 301.344 172.288 234.336a24 24 0 0 0 -33.92 33.92L223.04 352.96a24 24 0 0 0 34.528 -0.64l127.744 -159.68a24 24 0 0 0 -0.32 -33.6z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gnQnlnuuac"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt-mobile:var(--g-s-l);--pb-mobile:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gnQnlnuuac gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gzD_l0lXH7 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gW-viO-6Bz "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb-mobile:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:1;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggW-viO-6Bz_text }}</div>
      </div>
    </div><div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
      class="gp-leading-[0] gS6j3Llc9N"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#52C41A;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M512 256A256 256 0 1 1 0 256a256 256 0 0 1 512 0zm-127.04 -96.96a24 24 0 0 0 -34.56 0.704L239.264 301.344 172.288 234.336a24 24 0 0 0 -33.92 33.92L223.04 352.96a24 24 0 0 0 34.528 -0.64l127.744 -159.68a24 24 0 0 0 -0.32 -33.6z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gbcAdfnqXa"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt-mobile:var(--g-s-l);--pb-mobile:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gbcAdfnqXa gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g6DjxS4Ic1 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gL8DjxXYQx "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb-mobile:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:1;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggL8DjxXYQx_text }}</div>
      </div>
    </div><div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
      class="gp-leading-[0] gkRJSc_gqc"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#52C41A;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M512 256A256 256 0 1 1 0 256a256 256 0 0 1 512 0zm-127.04 -96.96a24 24 0 0 0 -34.56 0.704L239.264 301.344 172.288 234.336a24 24 0 0 0 -33.92 33.92L223.04 352.96a24 24 0 0 0 34.528 -0.64l127.744 -159.68a24 24 0 0 0 -0.32 -33.6z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ge1M8KSMtL gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g6iF0diwsI "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt-mobile:var(--g-s-xl);--pb-mobile:22px"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-heading, heading);--weight:700;--ls:normal;--size:37px;--size-tablet:37px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg6iF0diwsI_text }}</h2>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="ggQcSWpsQt"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt-mobile:54px;--pb-mobile:16px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ggQcSWpsQt gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g5drw0uICr gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
      class="gp-leading-[0] gdSEMjs1ah"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#B4B4B4;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M156.494 491.486C126.057 478.612 98.73 460.191 75.2711 436.733C51.813 413.273 33.3904 385.947 20.517 355.509C7.18036 323.977 0.417969 290.505 0.417969 256.022C0.417969 221.536 7.18036 188.064 20.5162 156.532C33.3904 126.096 51.8122 98.7683 75.2711 75.3102C98.73 51.8521 126.057 33.4295 156.494 20.5561C188.026 7.21943 221.498 0.457031 255.983 0.457031C290.466 0.457031 323.938 7.21856 355.471 20.5561C385.908 33.4295 413.235 51.8512 436.695 75.3102C460.152 98.7691 478.576 126.096 491.448 156.533C504.785 188.064 511.548 221.536 511.548 256.022C511.548 290.504 504.785 323.977 491.448 355.509C478.576 385.947 460.153 413.273 436.695 436.733C413.235 460.19 385.908 478.612 355.471 491.486C323.939 504.823 290.466 511.584 255.983 511.584C221.498 511.584 188.026 504.823 156.494 491.486ZM474.238 256.022C474.238 135.482 376.522 37.7656 255.983 37.7656C135.443 37.7656 37.7265 135.482 37.7265 256.022C37.7265 376.56 135.443 474.276 255.983 474.276C376.522 474.276 474.238 376.56 474.238 256.022ZM174.239 356.424C169.465 356.424 164.691 354.603 161.049 350.959C153.764 343.676 153.764 331.864 161.048 324.579L229.623 256.004L161.048 187.428C153.763 180.143 153.763 168.333 161.048 161.048C168.332 153.763 180.143 153.763 187.428 161.048L256.003 229.623L324.579 161.048C331.864 153.763 343.676 153.763 350.959 161.048C358.244 168.332 358.244 180.143 350.959 187.428L282.384 256.004L350.961 324.579C358.246 331.864 358.246 343.676 350.961 350.959C347.318 354.602 342.544 356.424 337.77 356.424C332.996 356.424 328.222 354.603 324.58 350.959L256.004 282.384L187.429 350.959C183.787 354.602 179.013 356.424 174.239 356.424Z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gH0s6qhZxT"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt-mobile:54px;--pb-mobile:16px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gH0s6qhZxT gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gsRShdTOAk gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
      class="gp-leading-[0] gTM-HS8EU1"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#B4B4B4;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M156.494 491.486C126.057 478.612 98.73 460.191 75.2711 436.733C51.813 413.273 33.3904 385.947 20.517 355.509C7.18036 323.977 0.417969 290.505 0.417969 256.022C0.417969 221.536 7.18036 188.064 20.5162 156.532C33.3904 126.096 51.8122 98.7683 75.2711 75.3102C98.73 51.8521 126.057 33.4295 156.494 20.5561C188.026 7.21943 221.498 0.457031 255.983 0.457031C290.466 0.457031 323.938 7.21856 355.471 20.5561C385.908 33.4295 413.235 51.8512 436.695 75.3102C460.152 98.7691 478.576 126.096 491.448 156.533C504.785 188.064 511.548 221.536 511.548 256.022C511.548 290.504 504.785 323.977 491.448 355.509C478.576 385.947 460.153 413.273 436.695 436.733C413.235 460.19 385.908 478.612 355.471 491.486C323.939 504.823 290.466 511.584 255.983 511.584C221.498 511.584 188.026 504.823 156.494 491.486ZM474.238 256.022C474.238 135.482 376.522 37.7656 255.983 37.7656C135.443 37.7656 37.7265 135.482 37.7265 256.022C37.7265 376.56 135.443 474.276 255.983 474.276C376.522 474.276 474.238 376.56 474.238 256.022ZM174.239 356.424C169.465 356.424 164.691 354.603 161.049 350.959C153.764 343.676 153.764 331.864 161.048 324.579L229.623 256.004L161.048 187.428C153.763 180.143 153.763 168.333 161.048 161.048C168.332 153.763 180.143 153.763 187.428 161.048L256.003 229.623L324.579 161.048C331.864 153.763 343.676 153.763 350.959 161.048C358.244 168.332 358.244 180.143 350.959 187.428L282.384 256.004L350.961 324.579C358.246 331.864 358.246 343.676 350.961 350.959C347.318 354.602 342.544 356.424 337.77 356.424C332.996 356.424 328.222 354.603 324.58 350.959L256.004 282.384L187.429 350.959C183.787 354.602 179.013 356.424 174.239 356.424Z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gS3oYS_UQ_"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt-mobile:54px;--pb-mobile:16px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gS3oYS_UQ_ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gwFBWY6EvQ gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
      class="gp-leading-[0] gfZlWDfvmk"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#B4B4B4;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M156.494 491.486C126.057 478.612 98.73 460.191 75.2711 436.733C51.813 413.273 33.3904 385.947 20.517 355.509C7.18036 323.977 0.417969 290.505 0.417969 256.022C0.417969 221.536 7.18036 188.064 20.5162 156.532C33.3904 126.096 51.8122 98.7683 75.2711 75.3102C98.73 51.8521 126.057 33.4295 156.494 20.5561C188.026 7.21943 221.498 0.457031 255.983 0.457031C290.466 0.457031 323.938 7.21856 355.471 20.5561C385.908 33.4295 413.235 51.8512 436.695 75.3102C460.152 98.7691 478.576 126.096 491.448 156.533C504.785 188.064 511.548 221.536 511.548 256.022C511.548 290.504 504.785 323.977 491.448 355.509C478.576 385.947 460.153 413.273 436.695 436.733C413.235 460.19 385.908 478.612 355.471 491.486C323.939 504.823 290.466 511.584 255.983 511.584C221.498 511.584 188.026 504.823 156.494 491.486ZM474.238 256.022C474.238 135.482 376.522 37.7656 255.983 37.7656C135.443 37.7656 37.7265 135.482 37.7265 256.022C37.7265 376.56 135.443 474.276 255.983 474.276C376.522 474.276 474.238 376.56 474.238 256.022ZM174.239 356.424C169.465 356.424 164.691 354.603 161.049 350.959C153.764 343.676 153.764 331.864 161.048 324.579L229.623 256.004L161.048 187.428C153.763 180.143 153.763 168.333 161.048 161.048C168.332 153.763 180.143 153.763 187.428 161.048L256.003 229.623L324.579 161.048C331.864 153.763 343.676 153.763 350.959 161.048C358.244 168.332 358.244 180.143 350.959 187.428L282.384 256.004L350.961 324.579C358.246 331.864 358.246 343.676 350.961 350.959C347.318 354.602 342.544 356.424 337.77 356.424C332.996 356.424 328.222 354.603 324.58 350.959L256.004 282.384L187.429 350.959C183.787 354.602 179.013 356.424 174.239 356.424Z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gRD8gkjdAI"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt-mobile:54px;--pb-mobile:16px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gRD8gkjdAI gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gYDIBq_Hlf gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
      class="gp-leading-[0] g-mD3O2YIZ"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#52C41A;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M512 256A256 256 0 1 1 0 256a256 256 0 0 1 512 0zm-127.04 -96.96a24 24 0 0 0 -34.56 0.704L239.264 301.344 172.288 234.336a24 24 0 0 0 -33.92 33.92L223.04 352.96a24 24 0 0 0 34.528 -0.64l127.744 -159.68a24 24 0 0 0 -0.32 -33.6z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gZ1Sv52uTk"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt-mobile:54px;--pb-mobile:16px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gZ1Sv52uTk gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gCSQUwmU7w gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
      class="gp-leading-[0] gFEqghPkZT"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#B4B4B4;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M156.494 491.486C126.057 478.612 98.73 460.191 75.2711 436.733C51.813 413.273 33.3904 385.947 20.517 355.509C7.18036 323.977 0.417969 290.505 0.417969 256.022C0.417969 221.536 7.18036 188.064 20.5162 156.532C33.3904 126.096 51.8122 98.7683 75.2711 75.3102C98.73 51.8521 126.057 33.4295 156.494 20.5561C188.026 7.21943 221.498 0.457031 255.983 0.457031C290.466 0.457031 323.938 7.21856 355.471 20.5561C385.908 33.4295 413.235 51.8512 436.695 75.3102C460.152 98.7691 478.576 126.096 491.448 156.533C504.785 188.064 511.548 221.536 511.548 256.022C511.548 290.504 504.785 323.977 491.448 355.509C478.576 385.947 460.153 413.273 436.695 436.733C413.235 460.19 385.908 478.612 355.471 491.486C323.939 504.823 290.466 511.584 255.983 511.584C221.498 511.584 188.026 504.823 156.494 491.486ZM474.238 256.022C474.238 135.482 376.522 37.7656 255.983 37.7656C135.443 37.7656 37.7265 135.482 37.7265 256.022C37.7265 376.56 135.443 474.276 255.983 474.276C376.522 474.276 474.238 376.56 474.238 256.022ZM174.239 356.424C169.465 356.424 164.691 354.603 161.049 350.959C153.764 343.676 153.764 331.864 161.048 324.579L229.623 256.004L161.048 187.428C153.763 180.143 153.763 168.333 161.048 161.048C168.332 153.763 180.143 153.763 187.428 161.048L256.003 229.623L324.579 161.048C331.864 153.763 343.676 153.763 350.959 161.048C358.244 168.332 358.244 180.143 350.959 187.428L282.384 256.004L350.961 324.579C358.246 331.864 358.246 343.676 350.961 350.959C347.318 354.602 342.544 356.424 337.77 356.424C332.996 356.424 328.222 354.603 324.58 350.959L256.004 282.384L187.429 350.959C183.787 354.602 179.013 356.424 174.239 356.424Z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gqIrLCwloi"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt-mobile:54px;--pb-mobile:16px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gqIrLCwloi gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gwK1APfJsl gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
      class="gp-leading-[0] gDfaTbFJyu"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#B4B4B4;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M156.494 491.486C126.057 478.612 98.73 460.191 75.2711 436.733C51.813 413.273 33.3904 385.947 20.517 355.509C7.18036 323.977 0.417969 290.505 0.417969 256.022C0.417969 221.536 7.18036 188.064 20.5162 156.532C33.3904 126.096 51.8122 98.7683 75.2711 75.3102C98.73 51.8521 126.057 33.4295 156.494 20.5561C188.026 7.21943 221.498 0.457031 255.983 0.457031C290.466 0.457031 323.938 7.21856 355.471 20.5561C385.908 33.4295 413.235 51.8512 436.695 75.3102C460.152 98.7691 478.576 126.096 491.448 156.533C504.785 188.064 511.548 221.536 511.548 256.022C511.548 290.504 504.785 323.977 491.448 355.509C478.576 385.947 460.153 413.273 436.695 436.733C413.235 460.19 385.908 478.612 355.471 491.486C323.939 504.823 290.466 511.584 255.983 511.584C221.498 511.584 188.026 504.823 156.494 491.486ZM474.238 256.022C474.238 135.482 376.522 37.7656 255.983 37.7656C135.443 37.7656 37.7265 135.482 37.7265 256.022C37.7265 376.56 135.443 474.276 255.983 474.276C376.522 474.276 474.238 376.56 474.238 256.022ZM174.239 356.424C169.465 356.424 164.691 354.603 161.049 350.959C153.764 343.676 153.764 331.864 161.048 324.579L229.623 256.004L161.048 187.428C153.763 180.143 153.763 168.333 161.048 161.048C168.332 153.763 180.143 153.763 187.428 161.048L256.003 229.623L324.579 161.048C331.864 153.763 343.676 153.763 350.959 161.048C358.244 168.332 358.244 180.143 350.959 187.428L282.384 256.004L350.961 324.579C358.246 331.864 358.246 343.676 350.961 350.959C347.318 354.602 342.544 356.424 337.77 356.424C332.996 356.424 328.222 354.603 324.58 350.959L256.004 282.384L187.429 350.959C183.787 354.602 179.013 356.424 174.239 356.424Z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gU0Z7c9qr9"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt-mobile:54px;--pb-mobile:16px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gU0Z7c9qr9 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gmmCljZB5v gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
      class="gp-leading-[0] gsIKXW9Cp6"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#52C41A;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M512 256A256 256 0 1 1 0 256a256 256 0 0 1 512 0zm-127.04 -96.96a24 24 0 0 0 -34.56 0.704L239.264 301.344 172.288 234.336a24 24 0 0 0 -33.92 33.92L223.04 352.96a24 24 0 0 0 34.528 -0.64l127.744 -159.68a24 24 0 0 0 -0.32 -33.6z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gbE8_xMjBL"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt-mobile:54px;--pb-mobile:16px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gbE8_xMjBL gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gbJwFjj-p8 gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
      class="gp-leading-[0] gDqXABZWPK"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#B4B4B4;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M156.494 491.486C126.057 478.612 98.73 460.191 75.2711 436.733C51.813 413.273 33.3904 385.947 20.517 355.509C7.18036 323.977 0.417969 290.505 0.417969 256.022C0.417969 221.536 7.18036 188.064 20.5162 156.532C33.3904 126.096 51.8122 98.7683 75.2711 75.3102C98.73 51.8521 126.057 33.4295 156.494 20.5561C188.026 7.21943 221.498 0.457031 255.983 0.457031C290.466 0.457031 323.938 7.21856 355.471 20.5561C385.908 33.4295 413.235 51.8512 436.695 75.3102C460.152 98.7691 478.576 126.096 491.448 156.533C504.785 188.064 511.548 221.536 511.548 256.022C511.548 290.504 504.785 323.977 491.448 355.509C478.576 385.947 460.153 413.273 436.695 436.733C413.235 460.19 385.908 478.612 355.471 491.486C323.939 504.823 290.466 511.584 255.983 511.584C221.498 511.584 188.026 504.823 156.494 491.486ZM474.238 256.022C474.238 135.482 376.522 37.7656 255.983 37.7656C135.443 37.7656 37.7265 135.482 37.7265 256.022C37.7265 376.56 135.443 474.276 255.983 474.276C376.522 474.276 474.238 376.56 474.238 256.022ZM174.239 356.424C169.465 356.424 164.691 354.603 161.049 350.959C153.764 343.676 153.764 331.864 161.048 324.579L229.623 256.004L161.048 187.428C153.763 180.143 153.763 168.333 161.048 161.048C168.332 153.763 180.143 153.763 187.428 161.048L256.003 229.623L324.579 161.048C331.864 153.763 343.676 153.763 350.959 161.048C358.244 168.332 358.244 180.143 350.959 187.428L282.384 256.004L350.961 324.579C358.246 331.864 358.246 343.676 350.961 350.959C347.318 354.602 342.544 356.424 337.77 356.424C332.996 356.424 328.222 354.603 324.58 350.959L256.004 282.384L187.429 350.959C183.787 354.602 179.013 356.424 174.239 356.424Z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4gaVQ.woff) format('woff');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4taVQUwaEQbjB_mQ.woff) format('woff');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4kaVQUwaEQbjB_mQ.woff) format('woff');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4saVQUwaEQbjB_mQ.woff) format('woff');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4jaVQUwaEQbjB_mQ.woff) format('woff');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* hebrew */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4iaVQUwaEQbjB_mQ.woff) format('woff');
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* math */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x5caVQUwaEQbjB_mQ.woff) format('woff');
  unicode-range: U+0302-0303, U+0305, U+0307-0308, U+0330, U+0391-03A1, U+03A3-03A9, U+03B1-03C9, U+03D1, U+03D5-03D6, U+03F0-03F1, U+03F4-03F5, U+2034-2037, U+2057, U+20D0-20DC, U+20E1, U+20E5-20EF, U+2102, U+210A-210E, U+2110-2112, U+2115, U+2119-211D, U+2124, U+2128, U+212C-212D, U+212F-2131, U+2133-2138, U+213C-2140, U+2145-2149, U+2190, U+2192, U+2194-21AE, U+21B0-21E5, U+21F1-21F2, U+21F4-2211, U+2213-2214, U+2216-22FF, U+2308-230B, U+2310, U+2319, U+231C-2321, U+2336-237A, U+237C, U+2395, U+239B-23B6, U+23D0, U+23DC-23E1, U+2474-2475, U+25AF, U+25B3, U+25B7, U+25BD, U+25C1, U+25CA, U+25CC, U+25FB, U+266D-266F, U+27C0-27FF, U+2900-2AFF, U+2B0E-2B11, U+2B30-2B4C, U+2BFE, U+FF5B, U+FF5D, U+1D400-1D7FF, U+1EE00-1EEFF;
}
/* symbols */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x5OaVQUwaEQbjB_mQ.woff) format('woff');
  unicode-range: U+0001-000C, U+000E-001F, U+007F-009F, U+20DD-20E0, U+20E2-20E4, U+2150-218F, U+2190, U+2192, U+2194-2199, U+21AF, U+21E6-21F0, U+21F3, U+2218-2219, U+2299, U+22C4-22C6, U+2300-243F, U+2440-244A, U+2460-24FF, U+25A0-27BF, U+2800-28FF, U+2921-2922, U+2981, U+29BF, U+29EB, U+2B00-2BFF, U+4DC0-4DFF, U+FFF9-FFFB, U+10140-1018E, U+10190-1019C, U+101A0, U+101D0-101FD, U+102E0-102FB, U+10E60-10E7E, U+1D2C0-1D2D3, U+1D2E0-1D37F, U+1F000-1F0FF, U+1F100-1F1AD, U+1F1E6-1F1FF, U+1F30D-1F30F, U+1F315, U+1F31C, U+1F31E, U+1F320-1F32C, U+1F336, U+1F378, U+1F37D, U+1F382, U+1F393-1F39F, U+1F3A7-1F3A8, U+1F3AC-1F3AF, U+1F3C2, U+1F3C4-1F3C6, U+1F3CA-1F3CE, U+1F3D4-1F3E0, U+1F3ED, U+1F3F1-1F3F3, U+1F3F5-1F3F7, U+1F408, U+1F415, U+1F41F, U+1F426, U+1F43F, U+1F441-1F442, U+1F444, U+1F446-1F449, U+1F44C-1F44E, U+1F453, U+1F46A, U+1F47D, U+1F4A3, U+1F4B0, U+1F4B3, U+1F4B9, U+1F4BB, U+1F4BF, U+1F4C8-1F4CB, U+1F4D6, U+1F4DA, U+1F4DF, U+1F4E3-1F4E6, U+1F4EA-1F4ED, U+1F4F7, U+1F4F9-1F4FB, U+1F4FD-1F4FE, U+1F503, U+1F507-1F50B, U+1F50D, U+1F512-1F513, U+1F53E-1F54A, U+1F54F-1F5FA, U+1F610, U+1F650-1F67F, U+1F687, U+1F68D, U+1F691, U+1F694, U+1F698, U+1F6AD, U+1F6B2, U+1F6B9-1F6BA, U+1F6BC, U+1F6C6-1F6CF, U+1F6D3-1F6D7, U+1F6E0-1F6EA, U+1F6F0-1F6F3, U+1F6F7-1F6FC, U+1F700-1F7FF, U+1F800-1F80B, U+1F810-1F847, U+1F850-1F859, U+1F860-1F887, U+1F890-1F8AD, U+1F8B0-1F8B1, U+1F900-1F90B, U+1F93B, U+1F946, U+1F984, U+1F996, U+1F9E9, U+1FA00-1FA6F, U+1FA70-1FA7C, U+1FA80-1FA88, U+1FA90-1FABD, U+1FABF-1FAC5, U+1FACE-1FADB, U+1FAE0-1FAE8, U+1FAF0-1FAF8, U+1FB00-1FBFF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4vaVQUwaEQbjB_mQ.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4uaVQUwaEQbjB_mQ.woff) format('woff');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4gaVQUwaEQbjA.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-518568901458527014 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/info-fc88/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=518568861411312803&sectionId=518568901458527014)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"html","id":"ggEAz9vBnyQ_text","label":"ggEAz9vBnyQ_text","default":"<p>Your Brand</p>"},{"type":"html","id":"ggpQy-V1vPd_text","label":"ggpQy-V1vPd_text","default":"<p>Differentiation Point 1</p>"},{"type":"html","id":"gg8jZLldBhe_text","label":"gg8jZLldBhe_text","default":"<p>Differentiation Point 2</p>"},{"type":"html","id":"ggZyqiODHh5_text","label":"ggZyqiODHh5_text","default":"<p>Differentiation Point 3</p>"},{"type":"html","id":"ggpTJ4KwN0F_text","label":"ggpTJ4KwN0F_text","default":"<p>Differentiation Point 4</p>"},{"type":"html","id":"gg_qQr-_f4N_text","label":"gg_qQr-_f4N_text","default":"<p>Differentiation Point 5</p>"},{"type":"html","id":"gggfcYOjuKU_text","label":"gggfcYOjuKU_text","default":"<p>Differentiation Point 6</p>"},{"type":"html","id":"ggW-viO-6Bz_text","label":"ggW-viO-6Bz_text","default":"<p>Differentiation Point 7</p>"},{"type":"html","id":"ggL8DjxXYQx_text","label":"ggL8DjxXYQx_text","default":"<p>Differentiation Point 8</p>"},{"type":"html","id":"gg6iF0diwsI_text","label":"gg6iF0diwsI_text","default":"<p>Other Brands</p>"}],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
